<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar%>
    <%= form.file_field :avatar, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control', id: :artist_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control', id: :artist_last_name %>
  </div>

  <div class="field">
    <%= form.label :stage_name %>
    <%= form.text_field :stage_name, class: 'form-control', id: :artist_stage_name %>
  </div>

  <div class="field">
    <%= form.label :birth_place %>
    <%= form.text_field :birth_place, class: 'form-control', id: :artist_birth_place %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.text_field :birth_date, class: 'form-control', type: 'date', id: :artist_birth_date %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, class: 'form-control', id: :artist_bio %>
  </div>

  <div class="field">
    <%= form.label :active_status %>
    <%= form.text_field :active_status, class: 'form-control', id: :artist_active_status %>
  </div>

  <div class="field">
    <%= form.label :active_from %>
    <%= form.text_field :active_from, class: 'form-control', id: :artist_active_from %>
  </div>

  <div class="field">
    <%= form.label :active_to %>
    <%= form.text_field :active_to, class: 'form-control', id: :artist_active_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
