<div class="container">

<div class="row">
  
  <div class="col-md-4">
    <div class="user_profile">
      <div class="cover_photo" style=" background-image: url(<%= @artist.avatar.url(:large)%>);">        
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3><%= @artist.stage_name %></h3>
            <%= @artist.full_name %>
          </div>
          <div class="col-md-5 text-align-right">
            <h4><%= @artist.impressionist_count %></h4>
            VIEWS
          </div>
        </div>

      </div>
    </div>

    <br> <br>

    <% if @artist.birth_place.length > 2 %>
    
      <p>
        <strong>Birth place:</strong>
        <%= @artist.birth_place %>
      </p>

    <% end %>

    

    <p>
      <strong>Birth date</strong> <br>
      <%= @artist.birth_date %>
    </p>

    <p>
      <%= @artist.bio %>
    </p>


    <%= link_to 'Edit', edit_artist_path(@artist) %> |
    <%= link_to 'Back', artists_path %>

</div>

<div class="colmd-8">
  
  <div class="realated_videos">
      <% @features.each do |v| %>
          <a href="<%= video_path(v.video_id)%>">
            <%= v.video.title %> <br />
            <%= image_tag v.video.media.url(:thumb) %> <br />
            
          </a>
      <% end %>
  </div>


</div>

</div>

</div>