<!-- <button onclick="videoTimer()">Click me</button> -->

<% if user_signed_in? %>
	<%=form_for Comment.new do |f|%>

	<div class="form-group comments_form">

		<div class="row">
			<div class="col-md-1">
				<div class="user_avatar_circle"></div>
			</div>
			<div class="col">
				<%= f.text_field :video_id, value: @video.id, type: 'hidden' %>
				<%= f.text_field :current_duration, id: :current_duration, type: 'hidden' %>
				<%= f.trix_editor :body, class: 'form-control' %>
				<div class="row">
					<div class="col"> </div>
					<div class="col text-align-right">
						<%= f.button "Post Comment", class: 'btn btn-success', onclick: "videoTimer()" %>
					</div>
				</div>
			</div>

		</div>

	</div>



	<% end %>

<% end %>

<div class="comments_list">
	
	<% @comments.each do |comment| %>
		<div class="comment_item">
			<div class="comment_user_info">
				<div class="comment_avatar" style="background-image: url('https://vignette.wikia.nocookie.net/baki/images/c/cd/Jack_Hammer.PNG/revision/latest?cb=20160924195915');"></div>
			</div>
			<div class="commnent_body">

				<div class="email_user">
					<%= comment.user.email %> <br>
					<p class="time_ago_comment">
					<%= time_ago_in_words(comment.created_at)%>
					</p>
				</div>

				<%= comment.body.html_safe %>
				<br>	
				<%= link_to 'Edit', edit_comment_path(comment) %>
				<%= link_to 'Delete', comment, method: :delete %>	

				<hr>

				<div class="comment_item">
					<% comment.replies.each do |r| %>
					 <br>
					


					<div class="comment_user_info">
						<div class="comment_avatar" style="background-image: url('https://vignette.wikia.nocookie.net/baki/images/c/cd/Jack_Hammer.PNG/revision/latest?cb=20160924195915');"></div>
					</div>
					<div class="commnent_body">

						<div class="email_user">
							<%= r.user.email %> <br>
							<p class="time_ago_comment">
							<%= time_ago_in_words(r.created_at)%>
							</p>
						</div>
						<%= r.body.html_safe %>
						<%= link_to 'Edit', edit_reply_path(r) %>
						<%= link_to 'Delete', r, method: :delete %>	
						<br>	
					</div>


					<% end %>
				</div>


				<br>
				<br>


				<% if user_signed_in? %>
					<%= form_for Reply.new do |reply| %>
						<%= reply.text_field :comment_id, value: comment.id, type: 'hidden' %>
						<%= reply.trix_editor :body %>
						<div class="text-align-right">
							<%= reply.button "Reply", class: 'btn btn-success', onclick: "videoTimer()" %>
						</div>
					<% end %>

				<% end %>

			</div>
		</div>
	<% end %>
</div>

<!-- <div class="spanSpace"></div> -->






