<div class="container">

  <% @videos.each do |video| %>
    <div class="video_card">
      <a href="<%= video_path(video) %>">
        <div class="video_thumb" style=" background-image: url(<%= video.media.url(:thumb) %>); ">
          <span class="video_duration badge badge-dark">
            <%= video.duration %>
          </span>
        </div>
      </a>
      <div class="video_info">
        <div class="container">
          <div class="video_title">
            <%= truncate(video.title, length: 40) %> 
          </div>

          <div class="row video_stats">
            <div class="col">
              <%= video.impressions.count %>
            </div>
            <div class="col bl-1">
              <%= time_ago_in_words(video.created_at) %>
            </div>        
          </div>

        </div>
      
      </div>

      
      <%#= link_to 'Show', video %>
      <%#= link_to 'Edit', edit_video_path(video) %>
      <%#= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
  <% end %>

</div>