<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <div class="videoContainer">
              <%= render 'videos/videoplayer' %>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-md-10">
                  <h2 class="video_title">
                    <%= @video.title %>
                  </h2>
                  <h6 class="time_ago_video"><%= time_ago_in_words(@video.created_at) %></h6>

                </div>
                <div class="col-md-2 text-align-right">
                  <h2 class="views_item">
                    <% if @video.count >= 4 %>

                      <%= @video.impression[0...-3] %> K

                    <% elsif @video.count >= 7 %>

                      <%= @video.impression[0...-6] %> M
                    
                    <% end %>

                    <% if @video.count < 4 %>
                      <%= @video.impressionist_count %>
                    <% end %>

                  </h2>

                  Views
                  
                </div>
              </div>

              <p><%= @video.description.html_safe %></p>

              <%#= link_to 'Edit', edit_video_path(@video) %> 
              <!-- | -->
              <%#= link_to 'Back', videos_path %>

              <br><br>


              <div class="features">                

              <% @video.features.each do |ft| %>
                <a href="<%= artist_path(ft.artist)%>">

                  <div class="avatar_features"  style=" background-image: url(<%= ft.artist.avatar.url(:small)%>);">

                    <div class="verification"></div>
                    
                  </div>
                  <%#= link_to 'Destroy', ft, method: :delete %>
                </a>
              <% end %>
              </div>


            </div>


            <div class="form">
              <br>
              <div class="container">

                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newfeatures">
                  Add New Feature
                </button> -->

                <!-- Modal -->
                <div class="modal fade" id="newfeatures" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <%= form_for Feature.new do |f|%>
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        

                        <div>
                          <%= f.text_field :video_id, value: @video.id, type: 'hidden' %> 
                        </div>

                        <div>
                          <%= f.label :artist_id %>
                          <%= f.select(:artist_id, Artist.select) %> 
                        </div>


                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit 'save', class: "btn btn-primary" %>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                
                    
                  
                </div>
                <br>
            </div>


            <div class="comments">

              <div class="container">
                <h6><%= @video.comments.size %> Comments <i class="far fa-comment-alt"></i> </h6>
                <br><br>
                <%= render 'videos/comments' %>

              </div>
              
            </div>

        </div>

        <div class="col-md-4">

          <% @videos.each do |v| %>

          <div class="video_side_thumbs">
            <a href="<%= video_path(v)%>">
              <div class="thumbs" style=" background-image: url(<%= v.media.url(:thumb)%>);">
                <span class="duration badge badge-dark">
                  <%= v.duration %>
                </span>
              </div>
              <div class="vsinfo">
                <p class="title"><%= truncate(v.title, length: 40 )%></p>
                <p class="views">
                  <%= v.impressionist_count %> Views
                </p>
              </div>
            </a>
            
          </div>
          <% end %>
        
        </div>

    </div>
</div>