<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @feature.artist %>
</p>

<p>
  <strong>Video:</strong>
  <%= @feature.video %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
